<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Lista de Clientes</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="customerList" id="customers">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{person.title-list}]]</h4>
                            </div>
                            <div th:if="${persons != null and !persons.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr class="bg-dark">
                                            <th>#</th>
                                            <th th:text="#{person.name}">#</th>
                                            <th th:text="#{person.balance}">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="person, iterStat : ${persons}">
                                            <td>[[${iterStat.count}]]</td>
                                            <td>[[${person.name} + ' ' + ${person.surname}]]</td>
                                            <td>[[${person.formattedBalance}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" 
                                                   th:href="@{/edit/} + ${person.idPerson}"
                                                   class="btn btn-secondary"
                                                   >
                                                    <span style="font-size: 0.8em;">
                                                        <i class="fas fa-edit"></i> [[#{action.edit}]]
                                                    </span>

                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" 
                                                   th:href="@{/delete(idPerson=${person.idPerson})}"
                                                   class="btn btn-danger"
                                                   >
                                                    <span style="font-size: 0.8em;">
                                                        <i class="fas fa-trash"></i> [[#{action.delete}]]
                                                    </span>

                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${persons == null or persons.isEmpty()}">
                                <span th:text="#{person.empty-list}">[[#{person.empty-list}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{person.totalBalance}">Saldo Total</h3>
                                <h4 class="display-4">
                                    [[${formattedTotalBalance}]]
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{person.totalCustomers}">Total Clientes</h3>
                                <h4 class="display-4"><i class="fas fa-users"></i> [[${totalCustomers}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
