<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
        <a th:href="@{/add}">[[#{person.create}]]</a>
        <br/>
        <div th:if="${persons != null and !persons.empty}">
            <table border="1">
                <tr>
                    <th>[[#{person.name}]]</th>
                    <th>[[#{person.surname}]]</th>
                    <th>[[#{person.email}]]</th>
                    <th>[[#{person.phone}]]</th>
                    <th>[[#{action.edit}]]</th>
                    <th>[[#{action.delete}]]</th>
                </tr>

                <tr th:each="person : ${persons}">
                    <td th:text="${person.name}">Mostrar Nombre</td>
                    <td th:text="${person.surname}">Mostrar apellido</td>
                    <td th:text="${person.email}">Mostrar Email</td>
                    <td th:text="${person.phone}">Mostrar Teléfono</td>
                    <!-- Path variable -->
                    <td><a th:href="@{/edit/} + ${person.idPerson}">[[#{action.edit}]]</a></td> 
                    <!-- Query parameter -->
                    <td><a th:href="@{/delete(idPerson=${person.idPerson})}">[[#{action.delete}]]</a></td> 
                </tr>
            </table>
        </div>
        <div th:if="${persons == null or persons.empty}">
            [[#{person.empty-list}]]
        </div>

        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>