<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{layout/template :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <header th:insert="~{layout/template :: header}"></header>
        <section th:insert="~{layout/addButtons :: addButtons}"></section>
        <section th:insert="~{layout/addCustomer :: addCustomer}"></section>
        <section th:insert="~{layout/customerList :: customerList}"></section>
        <footer th:insert="~{layout/template :: footer}"></footer>

    </body>
</html>