<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos de la Persona</h1>
        <a th:href="@{/}">Regresar</a>
        <form th:action="@{/save}" method="post" th:object="${person}">
            <input type="hidden" name="idPerson" th:field="*{idPerson}"/>
            
            <label for="name">Nombre:</label>
            <input type="text" name="name" th:field="*{name}"/>
            
            <label for="surname">Apellido:</label>
            <input type="text" name="surname" th:field="*{surname}"/>
            
            <label for="email">Email:</label>
            <input type="text" name="email" th:field="*{email}"/>
            
            <label for="phone">Teléfono:</label>
            <input type="text" name="phone" th:field="*{phone}"/>
            
            <input type="submit" name="save" value="Guardar" />
        </form>
    </body>
</html>
