<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
        <h2>Datos de la Persona</h2>
        <a th:href="@{/}">Regresar</a>
        <form th:action="@{/save}" method="post" th:object="${person}">
            <input type="hidden" name="idPerson" th:field="*{idPerson}"/>

            <label for="name">Nombre:</label>
            <input type="text" name="name" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors='*{name}'>Error Nombre</span>

            <label for="surname">Apellido:</label>
            <input type="text" name="surname" th:field="*{surname}"/>
            <span th:if="${#fields.hasErrors('surname')}" th:errors='*{surname}'>Error Apellido</span>

            <label for="email">Email:</label>
            <input type="text" name="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors='*{email}'>Error Apellido</span>

            <label for="phone">Teléfono:</label>
            <input type="text" name="phone" th:field="*{phone}"/>

            <input type="submit" name="save" value="Guardar" />
        </form>

        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>
